@import "../../styles";
@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@mixin opacity {
  animation: fade 1000ms;
}

.shadow {
  box-shadow: 0px 5px 10px grey;
  transition: box-shadow 200ms ease-in;
}

.menu {
  display: none;
}

.menu-button {
  padding: 10px;
  display: none;
}

.navbar {
  @include opacity;
  transition: opacity 1000ms ease-in-out;
  height: 80px;
  width: 100vw;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
  user-select: none;
  .items {
    margin: 0;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    vertical-align: middle;
    .item {
      font-family: "Quicksand", sans-serif;
      margin: 30px;
      display: inline-block;
      color: rgb(192, 192, 192);
      &:hover {
        color: white;
      }
    }
  }
  .title {
    cursor: pointer;
    font-size: 20px;
    color: white;
    .logo {
      height: 80px;
      width: 80px;
    }
  }
}

.navbar,
.title {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: center;
    .items {
      display: none;
      cursor: pointer;
    }
    .title {
      transform: translateX(-20%);
    }
  }

  .menu-button {
    display: block;
  }

  .menu {
    background-color: $primary-bg;
    z-index: 1;
    height: 100vh;
    width: 50vw;
    position: absolute;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 0px 5px grey;

    .back {
      padding: 30px;
      font-size: 2em;
      width: max-content;
      border-radius: 50%;
    }

    .menu-list {
      align-items: stretch;
      height: fit-content;
      list-style: none;
      padding: 0;

      .list-item {
        color: black;
        padding: 20px;
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}
