.div {
  margin: 30px;
  animation: opacity 1s ease-in;
}

.ending {
  text-align: center;
  padding: 10px;
  background-color: #b6d6cc;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  font-size: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .ending {
    width: 90%;
  }

  .div {
    margin: 20px;
  }
}
