.banner {
  border-radius: 20px;
  text-align: center;
  background-color: white;
  display: flex;
  margin-top: 20px;
  user-select: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  animation: opacity 500ms ease-in;
  margin: auto;
  .sect {
    justify-content: flex-start;
    button {
      width: fit-content;
      margin: 20px;
    }
  }
  img {
    padding: 30px;
    width: 30%;
    border-radius: 10%;
  }
  h1 {
    font-size: 30px;
  }
}

.end {
  height: 25%;
  width: 80%;
  margin: auto;
  padding: 30px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 10%;
    width: 80%;
  }
}

@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    display: block;
    opacity: 1;
    filter: blur(0px);
  }
}

.title {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  user-select: none;
  color: white;
  background-color: #74a4bc;
}

.hi {
  height: 20em;
}

.build-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 90vw;
  display: flex;
  user-select: none;
  margin: auto;
  cursor: pointer;
  .build-item {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 300em;

    mat-card-title {
      font-size: 15px;
      font-family: "Roboto", sans-serif;
    }
    .content {
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-width: 600px) {
  .build-container {
    margin: 10px;
  }

  .title {
    font-size: 20px;
  }

  .banner {
    flex-direction: column;
    width: 80%;
    align-items: center;
    .sect {
      align-items: center;
    }
    img {
      width: 50%;
      border-radius: 20%;
    }
    h1 {
      font-size: 20px;
    }
    .hands {
      height: 5em;
    }
  }

  .end {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      border-radius: 10%;
    }
  }
}
