.container {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 100vw;
  overflow-y: scroll;

  .dynamic {
    position: absolute;
    top: 18em;
    left: 50%;
    transform: translateX(-50%);
  }
}
