<div
  class="name-plate"
  [@plate]="plateState ? 'open' : 'none'"
  (@plate.done)="plateDone()"
  [ngSwitch]="switch"
>
  <section
    lottie
    *ngSwitchCase="'home'"
    class="meditate"
    [options]="options.home"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
    (@elementsFade.done)="elementsDone()"
  ></section>
  <section
    lottie
    *ngSwitchCase="'builds'"
    class="meditate"
    [options]="options.builds"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
    (@elementsFade.done)="elementsDone()"
  ></section>
  <section
    lottie
    *ngSwitchCase="'reachme'"
    class="meditate"
    [options]="options.reachme"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
    (@elementsFade.done)="elementsDone()"
  ></section>
  <section
    lottie
    *ngSwitchCase="'api'"
    class="meditate"
    [options]="options.api"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
    (@elementsFade.done)="elementsDone()"
  ></section>
  <section
    lottie
    *ngSwitchCase="'about'"
    class="meditate"
    [options]="options.about"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
    (@elementsFade.done)="elementsDone()"
  ></section>
  <h1
    class="quote"
    *ngIf="!mobile"
    [@elementsFade]="plateContentState ? 'open' : 'none'"
  >
    {{ switchMap.quote }}
  </h1>
</div>
