/* You can add global styles to this file, and also import other style files */
$primary-bg: #f6f8fe;
$primary-white: white;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: $primary-bg;
}

h2,
h1,
h3,
h4,
h5 {
  margin: 0;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.primary-shadow {
  box-shadow: 0px 5px 10px rgba(207, 207, 207, 0.582);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #683ab7ce;
}

img {
  pointer-events: none;
}

* {
  user-select: none;
  font-family: "Poppins", sans-serif;
}
